1. How many total job are there?
2. Calculate the average rating for each company.
3. Identify companies with the highest and lowest average ratings.
4. Compare the distribution of ratings across different companies.
5. Calculate the total number of reviews for each company.
6. Identify common themes or keywords in the reviews.
7. Perform sentiment analysis to gauge overall user satisfaction.
8. List the top 10 companies based on average rating and number of reviews.
9. Analyze the characteristics and practices of these top-rated companies.

1. Importing Libraries and Data Loading

In [30]:
!git clone https://github.com/AshishJangra27/Job-Analysis-Case-Study
import numpy as np
import pandas as pd
import zipfile
import matplotlib.pyplot as plt

zip_path="/content/Job-Analysis-Case-Study/jobs.csv.zip"
with zipfile.ZipFile(zip_path) as z:
  print(z.namelist())
  with z.open("jobs.csv") as f:
    df=pd.read_csv(f)

fatal: destination path 'Job-Analysis-Case-Study' already exists and is not an empty directory.
['jobs.csv', '__MACOSX/._jobs.csv']

In [31]:
df.head(5)

,job_id,job_role,company,experience,salary,location,rating,reviews,resposibilities,posted_on,job_link,company_link
0,7.012301e+10,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",4.0,39110 Reviews,"Customer Service,Sales,Relationship Management",1 Day Ago,https://www.naukri.com/job-listings-branch-ban...,https://www.naukri.com/hdfc-bank-jobs-careers-213
1,6.012391e+10,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Product management,Market analysis,Change mana...",1 Day Ago,https://www.naukri.com/job-listings-product-ow...,https://www.naukri.com/accenture-jobs-careers-...
2,6.012391e+10,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",1 Day Ago,https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
3,6.012391e+10,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",1 Day Ago,https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
4,6.012301e+10,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",4.1,3759 Reviews,"SAP BO,PL / SQL,Oracle SQL,SAP Business Object...",1 Day Ago,https://www.naukri.com/job-listings-sap-bo-con...,https://www.naukri.com/mindtree-jobs-careers-3...

In [32]:
len(df)

79147

### 2. Data Exploration

#### 2.1) Check null values

In [33]:
df.isnull().sum()

job_id               480
job_role             480
company              481
experience          1749
salary               480
location            1706
rating             36199
reviews            36199
resposibilities      500
posted_on            480
job_link             480
company_link         480
dtype: int64

####2.2) Check Duplicate values

In [34]:
print('duplicated_job_id:',len(df)-df['job_id'].nunique())

duplicated_job_id: 6138

####2.3) Explore each and every column

In [35]:
df['rating'].value_counts().head(5)

rating
4.1    7931
4.0    5239
4.2    4007
3.9    3995
3.7    3487
Name: count, dtype: int64

### 3. Data Cleaning

####3.1) Remove columns

In [36]:
del df['location']

In [37]:
del df['salary']

In [38]:
del df['experience']

In [39]:
del df['job_role']

In [40]:
del df['resposibilities']

In [41]:
del df['job_link']

In [42]:
df

,job_id,company,rating,reviews,posted_on,company_link
0,7.012301e+10,Hdfc Bank,4.0,39110 Reviews,1 Day Ago,https://www.naukri.com/hdfc-bank-jobs-careers-213
1,6.012391e+10,Accenture,4.1,32129 Reviews,1 Day Ago,https://www.naukri.com/accenture-jobs-careers-...
2,6.012391e+10,Accenture,4.1,32129 Reviews,1 Day Ago,https://www.naukri.com/accenture-jobs-careers-...
3,6.012391e+10,Accenture,4.1,32129 Reviews,1 Day Ago,https://www.naukri.com/accenture-jobs-careers-...
4,6.012301e+10,Mindtree,4.1,3759 Reviews,1 Day Ago,https://www.naukri.com/mindtree-jobs-careers-3...
...,...,...,...,...,...,...
79142,6.012301e+10,Citiustech,4.0,742 Reviews,2 Days Ago,https://www.naukri.com/citiustech-jobs-careers...
79143,1.122201e+10,Hexaware Technologies,3.7,3172 Reviews,1 Day Ago,https://www.naukri.com/hexaware-technologies-j...
79144,1.512220e+11,EY,3.8,6267 Reviews,2 Days Ago,https://www.naukri.com/ey-jobs-careers-9156
79145,2.712220e+11,Tech Mahindra,3.7,21440 Reviews,10 Days Ago,https://www.naukri.com/tech-mahindra-jobs-care...
79146,2.112220e+11,Tech Mahindra,3.7,21440 Reviews,3 Days Ago,https://www.naukri.com/born-commerce-jobs-care...

#### 3.2) Remove null values

In [43]:
df.dropna(inplace=True)

#### 3.3) Remove duplicates values

In [44]:
df.drop_duplicates(inplace=True)

In [45]:
df.reset_index(inplace=True)

In [46]:
df

,index,job_id,company,rating,reviews,posted_on,company_link
0,0,7.012301e+10,Hdfc Bank,4.0,39110 Reviews,1 Day Ago,https://www.naukri.com/hdfc-bank-jobs-careers-213
1,1,6.012391e+10,Accenture,4.1,32129 Reviews,1 Day Ago,https://www.naukri.com/accenture-jobs-careers-...
2,2,6.012391e+10,Accenture,4.1,32129 Reviews,1 Day Ago,https://www.naukri.com/accenture-jobs-careers-...
3,3,6.012391e+10,Accenture,4.1,32129 Reviews,1 Day Ago,https://www.naukri.com/accenture-jobs-careers-...
4,4,6.012301e+10,Mindtree,4.1,3759 Reviews,1 Day Ago,https://www.naukri.com/mindtree-jobs-careers-3...
...,...,...,...,...,...,...,...
37781,73781,6.012301e+10,Tech Mahindra,3.7,21440 Reviews,2 Days Ago,https://www.naukri.com/tech-mahindra-jobs-care...
37782,73782,6.012301e+10,Citiustech,4.0,742 Reviews,2 Days Ago,https://www.naukri.com/citiustech-jobs-careers...
37783,73784,1.512220e+11,EY,3.8,6267 Reviews,2 Days Ago,https://www.naukri.com/ey-jobs-careers-9156
37784,73785,2.712220e+11,Tech Mahindra,3.7,21440 Reviews,10 Days Ago,https://www.naukri.com/tech-mahindra-jobs-care...
37785,73786,2.112220e+11,Tech Mahindra,3.7,21440 Reviews,3 Days Ago,https://www.naukri.com/born-commerce-jobs-care...

####3.3) Clean

In [47]:
df['company_link']=df['company_link'].str.split('/').str[-1].str.split('-').str[-1]

In [48]:
df['reviews']=df['reviews'].str.split(' ').str[0]

In [49]:
del df['index']

In [50]:
df

             job_id        company  rating reviews    posted_on company_link
0      7.012301e+10      Hdfc Bank     4.0   39110    1 Day Ago          213
1      6.012391e+10      Accenture     4.1   32129    1 Day Ago         7682
2      6.012391e+10      Accenture     4.1   32129    1 Day Ago         7682
3      6.012391e+10      Accenture     4.1   32129    1 Day Ago         7682
4      6.012301e+10       Mindtree     4.1    3759    1 Day Ago        30528
...             ...            ...     ...     ...          ...          ...
37781  6.012301e+10  Tech Mahindra     3.7   21440   2 Days Ago         1066
37782  6.012301e+10     Citiustech     4.0     742   2 Days Ago       142075
37783  1.512220e+11             EY     3.8    6267   2 Days Ago         9156
37784  2.712220e+11  Tech Mahindra     3.7   21440  10 Days Ago         1066
37785  2.112220e+11  Tech Mahindra     3.7   21440   3 Days Ago       756865

[37786 rows x 6 columns]

### 4.Data Analysis

#### analysis based on rating

In [52]:
df.groupby(df['company'])['rating'].mean().sort_values(ascending=False).head(1)

company
delivery solutions    5.0
Name: rating, dtype: float64

In [51]:
df.groupby(df['company'])['rating'].mean().sort_values(ascending=False).tail(1)

company
Anamind Business Consulting    1.0
Name: rating, dtype: float64

#### 4.1) analysis based on reviews

In [54]:
df['reviews']=df['reviews'].astype(int)

In [55]:
df.groupby(df['company'])["reviews"].sum().sort_values(ascending=False)

company
Accenture                          94266618
Infosys                            14086000
IBM                                 9958080
Tata Consultancy Services (TCS)     6270375
Tech Mahindra                       5896000
                                     ...
AKBS computers private limited            2
Zone IT                                   2
ARMC AEGIS HOSPITAL                       2
Hempcann Solutions                        2
delivery solutions                        2
Name: reviews, Length: 8965, dtype: int64

In [25]:
df.to_csv("cleaned_data.csv", index=False)

from google.colab import files
files.download("cleaned_data.csv")